<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
     <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

     <title>One Page Resume</title>
     <!-- <link rel="stylesheet" type="text/css" href="/static/style.css"> -->
     <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
     

</head>

<body>

    <div id="page-wrap">
    
        <img src="/static/images/photo.jpg" alt="My Photo" id="pic" />
    
        <div id="contact-info" class="vcard">
        
            <!-- Microformats! -->
        
            <h1 class="fn">{{ about.first_name }} {{about.last_name.upper()}}</h1>
        
            <p>
                Mobile: <span class="tel">{{about.phone_number}}</span><br />
                E-Mail: <a class="email" href="mailto:{{about.mail}}">{{about.mail}}</a>
            </p>
        </div>
                
        <div id="objective">
            <p>
                I am an outgoing and energetic (ask anybody) young professional, seeking a 
                career that fits my professional skills, personality, and murderous tendencies. 
                My squid-like head is a masterful problem solver and inspires fear in who gaze upon it. 
                I can bring world domination to your organization. 
            </p>
        </div>
        
        <div class="clear"></div>
        
        <dl>
            <dd class="clear"></dd>
            
            <dt>Education</dt>
            <dd>
                {% for edu in education %}
                <h2>{{ edu.diploma }} - {{ edu.school}}</h2>
                <p>{{edu.start_date.strftime('%B %Y')}} - {{edu.end_date.strftime('%B %Y')}} <br />
                    {{edu.location}}</p>
                {% endfor %}
                
            </dd>
            
            <dd class="clear"></dd>
            
            <dt>Skills</dt>
            <dd>
                {% for category, skill in skills|groupby("category") %}
                <h2>{{category}}</h2>
                <p>{{skill|join(', ')}}</p>
                {% endfor %}
            </dd>
            
            <dd class="clear"></dd>
            
            <dt>Experience</dt>
            <dd>
                {% for exp in experience%}
                <h2>{{exp.company}} <span>{{exp.position}} - {{exp.location}} - {{exp.start_date.strftime('%B %Y')}} to {{exp.end_date.strftime('%B %Y')}}  </span></h2>
                <p>{{exp.description}}</p>
                {% endfor %}
            </dd>
            
            <dd class="clear"></dd>
            
            <dt>Hobbies</dt>
            <dd>{{ hobbies|join(', ', attribute='name') }}</dd>
            
            <dd class="clear"></dd>
            
            <dt>References</dt>
            <dd>Available on request</dd>
            
            <dd class="clear"></dd>
        </dl>
        
        <div class="clear"></div>
    
    </div>

</body>

</html>